
/* div.css-1wrcr25.egzxvld4{
    background-image: url(https://cdn.freebiesupply.com/images/thumbs/2x/florida-gators-logo.png);
    background-size: cover;

} */

div.css-12w0qpk.e1tzin5v2{
    
    border: 1px solid #CCCCCC;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
    text-align: center;
}


div.css-1r6slb0.e1tzin5v2{
    
    border: 1px solid #CCCCCC;
    padding: 5% 5% 3% 3%;
    border-radius: 5px;
    text-align: center;
}

div.css-j5r0tf.e1tzin5v2{
    
    border: 1px solid #CCCCCC;
    padding: 2% 2% 2% 2%;
    border-radius: 5px;
    text-align: center;
}

div.css-keje6w.e1tzin5v2{
    
    border: 1px solid #CCCCCC;
    padding: 2% 2% 3% 6%;
    border-radius: 5px;
    text-align: center;
}


